* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background Image */
.BgImg {
  height: 100vh;
  width: 100vw;
}
.BgImg img {
  height: 100vh;
  width: 100vw;
}

/* Signup */

.Signup-Container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 15vh 85vh;
}
